/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.section-heading > a{
  color: #333333;
}

.navbar-collapse {
  width: 80%;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}

#top-menu {
  background-color: #DADADA;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

#topnav-links > li > a:hover {
  color: #A31F34;
}

#main-content {
  padding-left: 0;
  padding-right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

#page-heading {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  display: table;
}

.jumbotron {
  width: 100%;
  background: url('../imgs/grey_wash_wall.png') repeat center center;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF
  font-weight: 300;
  text-align: center;
}

#heading-text {
  display: table-cell;
  vertical-align: middle;
}

#heading-text > p {
  color: #FFFFFF;
}

#heading-text > p > a {
  color: inherit;
}

.lamem-text {
  color: #A31F34;
  font-size: 1.25em;
   -webkit-text-fill-color: #FFFFFF; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #A31F34;
}

.row {
  /*height: 100%;*/
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  /*display: table;*/
}

#file-upload {
  text-align: center;
}

.img-container {
  width: 65px;
  height: 65px;
  overflow: hidden;
  display: inline-block;
  margin: 10 10 10 10;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.underline-text {
      border-bottom: solid 2px #000000;
      display: inline;
      padding-bottom: 1px;
}

.section-header {
  font-family: 'Roboto Slab'; 
  font-weight: 700;
  font-size: 2em;
  color: #A31F34;
  float: center;
}

.row-title {
  display: table-cell; 
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
}

.title-emph {
  font-family: 'Roboto Slab'; 
  font-weight: 700;
}

.btn-reference {
  background-color: transparent;
  border: 1px solid;
  margin: 4px;
  color: #A31F34;
}

    
}